.item {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-left: 8px;

}

.item__title {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 3px;

}

.item__text {
  font-size: 14px;
  margin-bottom: 12px;
  color: #212121;
}

.item__dayOfWeek,
.item__time {
  display: none;
}


.dropdown {
  z-index: 999;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  min-width: 40px;
  min-height: 40px;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s, box-shadow 0.3s, opacity 0.3s, color 0.3s;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.dropdown-btn-wrap {
  display: none;
  position: absolute;
  top: 43px;
  right: 0;
  flex-direction: column;
}

.show-dropdown {
  display: flex;
}

.actions {
  display: flex;
  justify-content: center;
}

.button {
  position: relative;
  margin: 0 auto;
  padding: 5px 8px;
  border: 1px solid #E8EEEF;
  vertical-align: top;
  outline: none;
  font-size: 12px;
  color: #222;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  background-color: #fff;
  overflow: hidden;
  z-index: 0;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s, opacity 0.3s, color 0.3s;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-weight: 500;
  font-family: inherit;

  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1),
    background-color 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.button-delete {
  position: absolute;
  right: 0;
  top: 50%;
  width: 22px;
  height: 22px;
  opacity: 0.3;
  border: none;
}

.button-delete:hover {
  opacity: 1;
  background-color: transparent;
}

.button-delete:before,
.button-delete:after {
  position: absolute;
  content: ' ';
  height: 20px;
  width: 2px;
  background-color: #333;
}

.button-delete:before {
  transform: rotate(45deg);
  top: 0;
}

.button-delete:after {
  transform: rotate(-45deg);
  top: 0;
}



.button:active,
.dropdown:active {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.3);
}

.button:hover,
.drop-btn:hover,
.dropdown:hover {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.1);
}



@media screen and (max-width: 767px) {
  .item {
    width: 100%;
  }
}
