table,
th,
td {
  border: 1px solid white;
}

.table-calendar {
  margin: 10px auto;

  .table__title {
    font-size: 40px;
    font-weight: 700;
    color: silver;
    text-align: right;
  }

  .table__cell {
    font-weight: 300;
    width: 175px;
  }

  .table__cell-header {
    font-weight: 700;
    background: #8a97a0;
    color: #FFF;
    text-align: center;
  }

  .table__row {
    background: #f4f7f8;
    border-bottom: 1px solid #FFF;
    margin-bottom: 5px;

    &:nth-child(even) {
      background: #e8eeef;
    }

    & th {
      text-align: center;
      font-weight: 700;
    }
  }

  .table__row {
    height: 50px;
  }


  .table__cell .table__cell-header {
    height: 40px;
  }
}
